body{
    margin: 0;
    padding: 0;
}
.header{
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
}

.menu{
  text-align: right;
  background-color:yellow;

}
.menu li {
   display: inline;
   margin-right: 15px;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}
.active-menu{
  color: red;
    text-shadow: 2px 2px 2px white;
}

.moblie-menu-btn{
  position: absolute;
  right:0;
}
.moblie-menu{
   background-color:yellow;
  height: 200px;
    width: 150px;
    display: inline-block;
    line-height: 40px; 
    list-style-type: none;
    position: absolute;
    top: 74px;
    left: -150px;
    transition: left 1s;
    padding: 20px;
}
.moblie-menu > li{
   letter-spacing: 5px;
   font-weight: bold;
}
.close-btn{
  position:absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}